In [2]:
%pip install pandas numpy

Requirement already satisfied: pandas in c:\users\tcs\documentsminiconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\tcs\documentsminiconda3\lib\site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tcs\documentsminiconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tcs\documentsminiconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tcs\documentsminiconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\tcs\documentsminiconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [4]:
movies = pd.read_csv("tmdb_5000_movies.csv.zip")
credits = pd.read_csv("tmdb_5000_credits.csv.zip")

In [5]:
movies.shape

(4803, 20)

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [8]:
movies = movies.merge(credits, on="title")

In [9]:
movies = movies[['genres','crew','overview','keywords','cast','movie_id','title']]

In [10]:
movies.shape

(4809, 7)

In [11]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",19995,Avatar

In [12]:
movies.isnull().sum()

genres      0
crew        0
overview    3
keywords    0
cast        0
movie_id    0
title       0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.isnull().sum()

genres      0
crew        0
overview    0
keywords    0
cast        0
movie_id    0
title       0
dtype: int64

In [15]:
movies = movies.dropna()

In [16]:
movies.isnull().sum()

genres      0
crew        0
overview    0
keywords    0
cast        0
movie_id    0
title       0
dtype: int64

In [17]:
movies.duplicated().sum()

np.int64(0)

In [18]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [19]:
import ast

In [20]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [21]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [22]:
movies['genres'] = movies['genres'].apply(convert)

In [23]:
movies['keywords'] = movies['keywords'].apply(convert)

In [24]:
movies.iloc[1]

genres                           [Adventure, Fantasy, Action]
crew        [{"credit_id": "52fe4232c3a36847f800b579", "de...
overview    Captain Barbossa, long believed to be dead, ha...
keywords    [ocean, drug abuse, exotic island, east india ...
cast        [{"cast_id": 4, "character": "Captain Jack Spa...
movie_id                                                  285
title                Pirates of the Caribbean: At World's End
Name: 1, dtype: object

In [25]:
def convert3(obj):
    counter = 0
    L = []
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [26]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title
0,"[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",19995,Avatar

In [27]:
movies['cast'] = movies['cast'].apply(convert)

In [28]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title
0,"[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",19995,Avatar

In [29]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
                L.append(i['name'])
                break
    return L

In [30]:
movies['crew'] = movies['crew'].apply(convert)

In [31]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title
0,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",19995,Avatar

In [32]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [33]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title
0,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",19995,Avatar

In [34]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies.shape

(4806, 7)

In [36]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [37]:
movies.shape

(4806, 8)

In [38]:
movies.head(1)

,genres,crew,overview,keywords,cast,movie_id,title,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [39]:
new_df = movies[['movie_id','title','tags']]

In [40]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [41]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\TCS\AppData\Local\Temp\ipykernel_7064\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [42]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\TCS\AppData\Local\Temp\ipykernel_7064\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [43]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [44]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\tcs\documentsminiconda3\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\tcs\documentsminiconda3\lib\site-packages (from scikit-learn) (2.3.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\tcs\documentsminiconda3\lib\site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\tcs\documentsminiconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\tcs\documentsminiconda3\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [46]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [47]:
%pip install nltk

Requirement already satisfied: nltk in c:\users\tcs\documentsminiconda3\lib\site-packages (3.9.2)
Requirement already satisfied: click in c:\users\tcs\documentsminiconda3\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\tcs\documentsminiconda3\lib\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\tcs\documentsminiconda3\lib\site-packages (from nltk) (2025.11.3)
Requirement already satisfied: tqdm in c:\users\tcs\documentsminiconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\tcs\documentsminiconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [48]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [49]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))
    
    return  " ".join(y)

In [50]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\TCS\AppData\Local\Temp\ipykernel_7064\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [53]:
similarity = cosine_similarity(vectors)

In [54]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

np.int64(119)

In [55]:
sorted(list(enumerate(similarity[0])), reverse=True, key= lambda x:x[1])[1:6]

[(1916, np.float64(0.23473823893078552)),
 (1214, np.float64(0.23294541397390256)),
 (582, np.float64(0.2309782890611944)),
 (539, np.float64(0.2252817784447915)),
 (507, np.float64(0.21912524504463887))]

In [56]:
new_df.iloc[1].title

"Pirates of the Caribbean: At World's End"

In [57]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title, " ")

In [58]:
recommend("Avatar")

Lifeforce
Aliens vs Predator: Requiem
Battle: Los Angeles
Titan A.E.
Independence Day

In [59]:
recommend("Batman Begins")

The Dark Knight
The Dark Knight Rises
Amidst the Devil's Wings
Batman
Batman & Robin

In [60]:
import pickle
import bz2 # <--- This is the compression library

# 1. Save movies (this one is small, regular pickle is fine)
pickle.dump(new_df, open('movies.pkl', 'wb'))

# 2. Save similarity (Compress this one!)
# We use bz2.open() instead of just open()
pickle.dump(similarity, bz2.open('similarity.pkl', 'wb'))